<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TALENT LAND</title>
    <link rel="stylesheet" href="css/signupstyle.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
    <div class="content">
        <!--<h1>TALENT LAND</h1>-->
        <br>
        <img src="images/logo.jpg" >
        <br>
        <br>
        <P class="par" style="color: white;">Talent Land is a new world where you can share your skills and communicate directly with scouts. <br>
            Sign up and be the next football star!!</P>

    </div>
