<%- include('partials/editHeader') %>

  <body>
    <div class="navigation">
      <div>
        <a href="#"></a>
        <img src="images/logo.jpg" width="110" />
      </div>
      <div class="navigation-search-container">
        <i class="fa fa-search"></i>
        <input class="search-field" type="text" placeholder="Search" />
        <div class="search-container">
          <div class="search-container-box">
            <div class="search-results"></div>
          </div>
        </div>
      </div>

      <div class="navigation-icons">
        <a class="navigation-link" href="/homePageScout"><i class="fa fa-home"></i></a>
        <a class="navigation-link" href="#"><i class="fa fa-envelope"></i></a>
        <a class="navigation-link" href="/profilePageScout"><i class="fa fa-user"></i></a>
        <br>
        <a class="navigation-link" href="/logout" style="color: white;"><i class="fa fa-sign-out"></i></a>

      </div>
    </div>

    <div class="pageContainer">
      <div class="content">
        <ul>
          <li><a href="/editProfileScout">Edit Profile</a></li>
          <!-- <li><a href="#changepassword">Change Password</a></li> -->
          <li><a class="active" href="/informationEditScout">Information</a></li>
          <li><a href="/helpScout">Help</a></li>
          <br />
          <hr />
          <li><a href="#" onclick="javascript:deleteUser()">Delete Account</a></li>
        </ul>
      </div>

      <div class="container">


        <form action="/informationEditScout" method="POST" class="form" id="form">


          <div class="form-control">
            <br />
            <div style="display: flex; flex-direction: row">
              <label for="username" style="width: 130px; margin-top: 10px">Username</label>
              <input id="username_field" type="text" placeholder="Please enter your name" name="username" required />
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <small>Error message</small>
          </div>

          <div class="form-control">
            <div style="display: flex; flex-direction: row">
              <label for="email" style="width: 130px; margin-top: 10px">Email</label>
              <input id="email_field" type="email" placeholder="eg. email@address.com" name="email" required />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <small>Error message</small>
          </div>

          <div class="form-control">
            <div style="display: flex; flex-direction: row">
              <label for="password" style="width: 130px; margin-top: 10px">Password</label>
              <input id="password_field" type="password" placeholder="*******" name="password" required />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <small>Error message</small>
          </div>



        <div class="form-control">
          <div style="display: flex; flex-direction: row">
            <label for="club" style="width: 130px; margin-top: 10px">Club</label>
            <input id="club" type="text" name="club" required />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <small>Error message</small>
        </div>

        <div class="form-control">
          <div style="display: flex; flex-direction: row">
            <label for="age" style="width: 130px; margin-top: 10px">Age</label>
            <input id="age" type="text" name="age" required />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <small>Error message</small>
        </div>
        <div class="form-control">
            <div style="display: flex; flex-direction: row">
              <label for="scoutposition" style="width: 130px; margin-top: 10px">Position/Role</label>
              <input id="scoutposition" type="text" name="scoutposition" required />
              <i class="fas fa-check-circle"></i>
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <small>Error message</small>
          </div>


          <button>Save</button>
        </form>
      </div>
    </div>

    <script src="js/profilePageEdit.js"></script>

  </body>
