<%- include('partials/editHeader') %>

  <body>
    <div class="navigation">
      <div>
        <a href="##"></a>
        <img src="images/logo.jpg" width="110" />
      </div>
      <div class="navigation-search-container">



      </div>


    </div>

    <div class="pageContainer">


      <div class="container">
        <form class="form" action = "/scoutSignupRequest" method="POST" >
          <label> Your Name: </label>
          <input type="text" name="sname" value="" required><br>
          <label> Your Email: </label>
          <input type="email" name="semail" value="" required><br>
          <label> Your Message: </label><br>
          <textarea name="smessage" rows="10" cols="80" required></textarea><br>
          <input type="submit" name="" >
        </form>
    </body>








          <!-- <div class="form-control">
          <div style="display: flex; flex-direction: row">
            <label for="username" style="width: 130px; margin-top: 10px"
              >Surname</label
            >
            <input
              type="text"
              placeholder="Please enter your surname"
              name="surname" required
            />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
          </div>
          <small>Error message</small>
        </div> -->



   <script src="js/profilePageEdit.js"></script>
  </body>
