<%- include('partials/editHeader') %>

  <body>
    <div class="navigation">
      <div>
        <a href="#"></a>
        <img src="images/logo.jpg" width=110 />
      </div>
      <div class="navigation-search-container">
        <i class="fa fa-search"></i>
        <input class="search-field" type="text" placeholder="Search" />
        <div class="search-container">
          <div class="search-container-box">
            <div class="search-results"></div>
          </div>
        </div>
      </div>

      <div class="navigation-icons">
        <a class="navigation-link" href="/homePage"><i class="fa fa-home"></i></a>
        <a class="navigation-link" href="/getmeeting"><i class="fa fa-envelope"></i></a>
        <a class="navigation-link" href="/uploadVideo"><i class="fa fa-video-camera"></i></a>
        <a class="navigation-link" href="/profilePage"><i class="fa fa-user"></i></a>
        <br>
        <a class="navigation-link" href="/logout" style="color: white;"><i class="fa fa-sign-out"></i></a>

      </div>
    </div>

    <div class="pageContainer">

      <div class="container" style="margin: 0 auto; text-align: center;">
        <br>

        <form action="/uploadVideo" method="POST" class="form" name="form" id="my_form" enctype="multipart/form-data">
          
          <label for="section_info">Select Type: </label>
          <select name="sections">
            <option value="Shooting">Shooting</option>
            <option value="Passing_and_Receiving">Passing and Receiving</option>
            <option value="Dribbling">Dribbling</option>
            <option value="Heading">Heading</option>
            <option value="Touch_and_Ball_Control">Touch and Ball Control</option>
            <option value="Skills_and_Tricks">Skills and Tricks</option>
            <option value="Running_Off_the_Ball">Running Off the Ball</option>
            <option value="Other">Other</option>
          </select>
          <br><br>
          <label for="video_header" style="width: 130px; margin-top: 10px">Enter title for your video:</label>
              <input id="title_field" style="height:24px;" placeholder="My first video" name="video_title"/>
          
          <div style= "text-align: center">
            <img src="images/upload-video.png" width="300" height="400"/>
            <br>
            <label for="video_input">Select a video to upload: </label>
            <input id="file-picker" type="file" name="video_input">
          </div>
          <button type="submit">Upload</button>
        </form>

      </div>
    </div>
  </body>

  <script>
    document.getElementById("my_form").onsubmit = function () { myFunction(); };

    function myFunction() {
      swal({
        icon: "success",
        title: "Your video saved sucessfully."
      }).then(() => {
        window.location.href = '/ProfilePage';
      });
    }
  </script>