.homePageContent {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 16px 24px 2px #245b16, 0 6px 30px 5px #245b16, 0 8px 10px -5px #245b16;
}

.videoInfoContainer {
  width: 300px;
}

.videoLikeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star_rating{
  user-select: none;
}
.star{
  font-size: 3rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}
.star:hover{
  cursor:pointer;
}

/*.star-rating{
  color: #080808;
  font-size:2em;
}

.my-star::before{
  content:"\002605";
}

.my-star{
  font-style: unset !important;
}

.is-active{
  color:#fb8900;
}

.my-star:not(.is-active):hover{
  color: #fb8900;
}*/