
body {
  background: #fafafa;
}


.navigation {
  background-color: #245b16;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #245b16;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.shrink {
  height: 50px;
}

.navigation .logo img {
  position: relative;
}

.navigation-search-container {
  position: relative;
}

.navigation-search-container input {
  background-color: #fafafa;
  padding: 3px 20px;
  padding-right: 200px;
  height: 35px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #245b16;
  border-radius: 3px;
  font-size: 14px;
}

.navigation-search-container .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}



.navigation-icons {
  display: flex;
}

.navigation-search-container input:focus {
  outline: none;
}

.navigation-search-container input::placeholder {
  text-align: center;
}

.navigation-icons a {
  text-decoration: none;
}

.navigation-link i {
  margin-left: 30px;
  color: #fdfdfd;
  text-decoration: none;
  font-size: 22px;
}




.profile-page .page-header {
  height: 380px;
  background-position:center;
}

.page-header {
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
}

.header-filter:after, .header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(255, 255, 254, 0.822);
}

.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px #245b16, 0 6px 30px 5px #245b16, 0 8px 10px -5px #245b16;
}

.user {
  margin: -60px 20px 0;
  border-radius: 100px;
  box-shadow: 0 16px 24px 2px #245b16, 0 6px 30px 5px #245b16, 0 8px 10px -5px #245b16;
}

.main {
  background: #FFF;
  position: relative;
  z-index: 3;
}

.profile-page .profile {
  text-align: center;
}

.profile-page .profile img {
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  -moz-transform: translate3d(0,-50%,0);
  -o-transform: translate3d(0,-50%,0);
  -ms-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.img-raised {
  box-shadow: 0 5px 15px -8px #0000003d, 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  color: #131414;
  font-weight: 700;
  font-family: "Roboto Slab","Times New Roman",serif;
}

.profile-page .description {
  margin: 1.071rem auto 0;
  max-width: 600px;
  color: #999;
  font-weight: 300;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
}

.profile-page .profile-tabs {
  margin-top: 4.284rem;
}

.nav-pills, .nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav .nav-item {
  position: relative;
  margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
  border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #245b16;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #245b16;
}

.nav-pills .nav-item .nav-link {
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  color: rgb(22, 24, 22);
  transition: all .3s;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
  background-color: rgba(171, 216, 170, 0.2);
}


.nav-pills .nav-item i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
}

.tab-space {
  padding: 20px 0 50px;
}

.profile-page .gallery {
  margin-top: 3.213rem;
  padding-bottom: 50px;
  text-align: center;
}

.profile-page .gallery img {
  width: 100%;
  margin-bottom: 2.142rem;
}

.profile-page .profile .name{
  margin-top: -80px;
}

img.rounded {
  border-radius: 6px!important;
}

.tab-content>.active {
  display: block;
}


/*buttons*/
.btn {
  position: relative;
  padding: 12px 30px;
  margin: .3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  border-radius: .2rem;
  outline: 0;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
}

.btn.btn-just-icon {
  font-size: 20px;
  height: 41px;
  min-width: 41px;
  width: 41px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 41px;
}

.btn.btn-just-icon fa{
  margin-top: 0;
  position: absolute;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
}
.btn.btn-link{
  background-color: transparent;
  color: #999;
}

/* dropdown */




.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 11rem !important;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #151614;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}

.dropdown-menu.show{
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #245b16;
  background-color: #245b16;
  color: #FFF;
}
.show .dropdown-toggle:after {
  transform: rotate(180deg);
}

.dropdown-toggle:after {
  will-change: transform;
  transition: transform .15s linear;
}


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: rgb(51, 51, 51);
  font-weight: 400;
  text-decoration: none;
  font-size: .8125rem;
  border-radius: .125rem;
  margin: 0 .3125rem;
  transition: all .15s linear;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  min-height: 1rem !important;
  overflow: hidden;
  line-height: 1.428571;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
  padding: .75rem 1.25rem .75rem .75rem;
}

.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
  vertical-align: middle;
  font-size: 24px;
  position: relative;
  margin-top: -4px;
  top: 1px;
  margin-right: 12px;
  opacity: .5;
}



