@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Bold", "Roboto", sans-serif;
}

body {
	background-color: #245b16;
	font-family: "Roboto Bold", "Roboto", sans-serif;
	display: flex;
	align-items: center;
    overflow: hidden;

	justify-content: space-evenly;
	min-height: 100vh;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	border-radius: 5px;
	overflow: hidden;
}
.content h1{
    font-family: "Roboto Bold", "Roboto", sans-serif;
    font-size: 50px;
    margin-top: auto;
    letter-spacing: 2px;
}
.content .par{
    padding-left: 100px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content img {
    width: 250px;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
    width: 500px;	
    max-width: 100%;
}


.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
    font-family: "Roboto Bold", "Roboto", sans-serif;

}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	margin-bottom: 5px;
}

.form-control input {
	border: none;
	border-radius: 4px;
    border-bottom: 2px solid #777;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus { 
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	/* position: static; */
	margin-top: 10px;
	top: 33px;
	left: 0px;
}

.form-control i {
	visibility: hidden;
	position: static;
	top: 33px;
	left: 0px;
}
.form-material-icons{
	position: static;
	top: 33px;
	left: 0px;

}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	/* position: absolute; */
	margin-left:35px;
	margin-top: 5px;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #245b16;
	border: 2px solid ;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form .login{
    margin-top: 30px;
    text-align: center;
}




