<% for(var i = 0; i < 10; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= User[i].username %></td>
    <td><%= User[i].overall_rate %></td>
    <td><%= User[i].main_Position %></td>

    <td>


    </td>
</tr>
<% } %>
